body {
    font-family: sans-serif;
    background-image: url("Assets/Floating-Planet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:crimson;
    text-align: center;
    position: relative;
    height: 100%;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bolder;
  }

 

    
   

  
  .wrapper {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    display: inline-block;  
    vertical-align: middle;

  }
  
  .controls {
    flex: 1;
    padding: 10px;
    
  }